html,body{
    height: 100%;
    margin: 0;
    padding: 0;
   

}
#main{
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

#app{
    width:100%;
    height:100%;
}

#seen{color:gray}


.center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#navbar,#user-nav{
    top:0;
    width:100%;
}

#navbar{
    position:fixed;
    background-color: lightblue;
}


#user-nav a:hover{
    background-color: lightgray;
}

#rooms-container{
    overflow-y: auto;
    max-height:350px;
}

#navbar a,#user-nav a {
    position: relative;
    padding: 14px 16px;
    color: 'black';
    text-decoration: none;
    font-size: 17px;
    top:10px;
    margin:auto;
    border-bottom: 3px solid transparent;
    }

#navbar a{
    float: left;
    display:block;
}


a{color:black;}

#navbar a:hover{
    color:grey
}
input{
    height:25px;
    border-width: 1px;
    border-style: groove;
}

.error{
    color:red
}

.success{
    color:green
}

.container,#user-container{
    height:auto;
    border-style: groove;
    z-index: -1;
}

#user-container{
    min-width: 800px;
    min-height:530px;
    margin-top: 50px;
    
}

#box{
    height:200px;
    overflow-y:auto;
}


#add_room,#shaded{display: flex; 
        margin:5px; 
        position: absolute;
}

.popup{
    position:fixed;
    background: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-style: solid ;
    border-width: 0.5px;

  }
  
  .close {
    color: #aaaaaa;
    position:absolute;
    top:0;
    right:10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #modal-background{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: rgba(0,0,0,0.4); 
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

#check{margin-top: 12px;}

  #check-box-friends{
    display:flex;  
}

.you-message-container,.reciever-message-container{
    text-align: center;
    border-radius: 5px;
    padding:15px;
    overflow-wrap: break-word;
    margin-bottom:40px;
    inline-size:150px;
    height:auto;
} 

.you-message-container{
    background-color:darkgray;
    margin-left:100px;
    margin-right: auto;  
}

.reciever-message-container{
    background-color:lightgray;
    margin-right:100px;
    margin-left: auto;  
}
